extends base.pug

block title
    title About

block stylesheets
    style
        include ../staticFiles/CSS/about.css

block scripts
    script
        include ../staticFiles/mainscript.js

block bodycontent
    section#about
        h2 ABOUT US
        span #[hr]
        p.upper I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit Text” or double click me to add your own content and make changes to the font. I’m a great place for you to tell a story and let your users know a little more about you.
        div.lower
            div.abts
                div.lupper
                    img(src="/Images/about1.jpg", alt="About 1")
                    h1 PRATIK PATIL #[br]SOFTWARE DEVELOPER
                p.llower I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit Text” or double click me to add your own content and make changes to the font. I’m a great place for you to tell a story and let your users know a little more about you.
            div.abts
                div.lupper
                    img(src="/Images/about2.jpg", alt="About 2")
                    h1 PRATIK PATIL #[br]COMPETITIVE CODER
                p.llower I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit Text” or double click me to add your own content and make changes to the font. I’m a great place for you to tell a story and let your users know a little more about you.
            div.abts
                div.lupper
                    img(src="/Images/about3.jpg", alt="About 3")
                    h1 PRATIK PATIL #[br]MERN DEVELOPER
                p.llower I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit Text” or double click me to add your own content and make changes to the font. I’m a great place for you to tell a story and let your users know a little more about you.
            div.abts
                div.lupper
                    img(src="/Images/about4.jpg", alt="About 4")
                    h1 PRATIK PATIL #[br]IIT ROORKEE
                p.llower I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit Text” or double click me to add your own content and make changes to the font. I’m a great place for you to tell a story and let your users know a little more about you.