extends base.pug

block title
    title Projects

block stylesheets
    style
        include ../staticFiles/CSS/projects.css

block scripts
    script
        include ../staticFiles/mainscript.js
    
block bodycontent
    section#projects
        h2 PROJECTS
        span #[hr]
        div.projects
            div.items
                img(src="/Images/project1.jpg", alt="Project 1")
                div.content
                    h3 PROJECT 1
                    p I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit Text” or double click me to add your own content and make changes to the font. I’m a great place for you to tell a story and let your users know a little more about you.
            div.items
                img(src="/Images/project2.jpg", alt="Project 2")
                div.content
                    h3 PROJECT 2
                    p I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit Text” or double click me to add your own content and make changes to the font. I’m a great place for you to tell a story and let your users know a little more about you.
            div.items
                img(src="/Images/project3.jpg", alt="Project 3")
                div.content
                    h3 PROJECT 3
                    p I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit Text” or double click me to add your own content and make changes to the font. I’m a great place for you to tell a story and let your users know a little more about you.
            div.items
                img(src="/Images/project4.jpg", alt="Project 4")
                div.content
                    h3 PROJECT 4
                    p I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit Text” or double click me to add your own content and make changes to the font. I’m a great place for you to tell a story and let your users know a little more about you.