/* CSS Resets */

*{
    /* font-family: 'Roboto Slab', serif; */
    font-family: 'Epilogue', sans-serif;
    margin: 0%;
    padding: 0%;
}

li{
    list-style: none;
}

a{
    color: white;
    text-decoration: none;
}

/* Home Section */
#home{
    color: black;
    /* width: 98.9vw; */
    height: 83.5vh;
    background-image: url('./Images/homebg3.jpg');
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
    /* background-color: #3bcad1; */
    position: sticky;
    top: 100px;
    left: 0px;
    z-index: -1;
}

/* End Home Section */

/* spc-cards Section */
#spc-cards{
    /* color: #0e3a6a; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* color: black; */
    z-index: 2;
}

#spc-cards .upper{
    color: #0e3a6a;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px 0px;
    position: relative;
    z-index: 2;
}

#spc-cards .upper::after{
    content: "";
    background-color: whitesmoke;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.7;
    
}

#spc-cards .upper p{
    font-size: 1.5rem;
    letter-spacing: 0.15rem;
    padding: 5px 0px;
}

#spc-cards .upper h2{
    font-size: 3.25rem;
    letter-spacing: 0.4rem;
    padding: 5px 0px;
}

#spc-cards .lower{
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 85px 0px;
}

#spc-cards .lower .cardcontainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 75%;
}

#spc-cards .lower .cardcontainer .cards{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px 18px;
    background-color: #0e3a6a;
    padding: 45px 50px;
    color: white;
}

#spc-cards .lower .cardcontainer .cards h1{
    padding: 10px 0px;
    font-size: 1.8rem;
    letter-spacing: 0.2rem;
    font-weight: 300;
}

#spc-cards .lower .cardcontainer .cards p{
    text-align: center;
    padding: 30px 0px;
    line-height: 1.4rem;
}

#spc-cards .lower .cardcontainer .cards button{
    padding: 10px 0px;
    width: 130px;
    font-size: 1rem;
    outline: none;
    border: none;
    color: white;
    background-color: #4379b8;
    transition: all 0.2s ease-in-out 0s;
    /* position: relative; */
}

#spc-cards .lower .cardcontainer .cards button:hover{
    background-color: #bcdbff;
    color: #0e3a6a;
    cursor: pointer;
}

/* End spc-cards Section */

/* About section */
#about{
    background-color: #a8c8eb;
    color: #0e3a6a;
    z-index: 2;
    /* padding-bottom: 80px 0px; */
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#about h2{
    font-size: 4rem;
    letter-spacing: 0.5rem;
    padding: 65px 0px;
}

#about .para{
    width: 60%;
}

#about .para p{
    text-align: center;
    font-size: 1rem;
    /* letter-spacing: 0.1rem; */
    padding: 10px 0px;
    line-height: 1.4rem;
}

#about .para .two{
    margin-bottom: 50px;
}

#about button{
    padding: 10px 0px;
    width: 130px;
    font-size: 1rem;
    outline: none;
    border: none;
    cursor: pointer;
    background-color: #0e3a6a;
    color: white;
    transition: all 0.2s ease-in-out 0s;
    
}

#about button:hover{
    background-color: #488dd1;
}

/* End About section */

/* Contact Section */
#contact{
    background-color: #0e3a6a;
    color: white;
    /* height: 100vh; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#contact h1{
    font-size: 4rem;
    letter-spacing: 0.5rem;
    padding: 65px 0px;
    padding-top: 100px;
}

#contact .contact{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin-bottom: 100px;
}

#contact .contact img{
    width: 50%;
    height:  573.4px;
    margin-right: 20px;
}

#contact .contact .form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: fit-content;
}

#contact .contact .form .para p{
    text-align: center;
    font-size: 1rem;
    /* letter-spacing: 0.1rem; */
    /* padding: 10px 0px; */
    line-height: 1.5rem;
}

#contact .contact .form form{
    margin: 20px 0px;
}

#contact .contact .form form input, #contact .contact .form form textarea{
    display: block;
    padding: 6px 10px;
    width: 150%;
    margin: 5px 0px;
    transition: all 0.1s ease-in-out 0s;
}

#contact .contact .form form input:hover, #contact .contact .form form textarea:hover{
    background-color: #aed1fa;
    outline: none;
}

#contact .contact .form form input:active, #contact .contact .form form textarea:active{
    background-color: #aed1fa;
    outline: none;
}

#contact .contact .form form textarea{
    /* line-height: 2rem; */
    /* letter-spacing: 0.1rem; */
    margin: 20px 0px;
}

#contact .contact .form form span{
    /* font-size: 3rem; */
    font-weight: 800;
    color: rgb(212, 77, 14);
}

#contact .contact .form form button{
    width: 140px;
    padding: 7px 0px;
    margin: 10px 0px;
    font-size: 1rem;
    outline: none;
    border: none;
    color: white;
    background-color: #4379b8;
    transition: all 0.2s ease-in-out 0s;
}

#contact .contact .form form button:hover{
    background-color: #bcdbff;
    color: #0e3a6a;
    cursor: pointer;
}

/* End Contact Section */