/* CSS Resets */

*{
    /* font-family: 'Roboto Slab', serif; */
    font-family: 'Epilogue', sans-serif;
    margin: 0%;
    padding: 0%;
}

li{
    list-style: none;
}

a{
    /* color: white; */
    text-decoration: none;
}

p{
    text-align: justify;
    line-height: 1.3rem;
    padding: 20px 0px;
    /* font-weight: 900; */
    /* font-size: 1.1rem; */
}

/* Projects section */
#projects{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #0e3a6a;
}

#projects h2{
    font-size: 3.5rem;
    padding-top: 70px;
    letter-spacing: 0.2rem;
    font-weight: 800;
}

#projects span{
    display: block;
    width: 10%;
    margin: auto;
    margin-top: 15px;
    /* line-height: 1.2rem; */
}

#projects span hr{
    border-top: 6px solid #0e3a6a;
}

#projects .projects{
    width: 70%;
    margin: 70px 0px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#projects .projects .items{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
    /* border: 0.5px solid #0e3a6a; */
}

#projects .projects .items:nth-child(even){
    flex-direction: row-reverse;
}

#projects .projects .items img{
    width: 30%;
    height: 200px;
    margin: 0px 30px;
}

#projects .projects .items .content{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: 200px;
}

#projects .projects .items .content h3{
    margin-bottom: 20px;
    /* letter-spacing: 0.1rem; */
    font-size: 1.5rem;
}

/* End Projects section */